* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 微软雅黑;
    font-style: normal;
    background: url('/static/image/bg.jpg') no-repeat;
    background-size: 100% 100%;
}


a,
a:hover {
    text-decoration: none
}

a,
a:hover {
    transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
}

em,
i {
    font-style: normal;
}

ul,
ol,
li {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

textarea {
    resize: none;
}

p {
    line-height: 16px;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
    height: 0px;
    width: 100%;
    overflow: hidden;
}

.position {
    position: relative;
}

.alert-top {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    min-width: 300px;
    max-width: 80%;
    display:none;
}


/*总体布局样式*/
html,
body {
    height: 100%
}

body {
    padding-top: 20px
}

.container {
    width: 1000px;
    height: 625px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-color: #f9f9f9
}

.userpnl {
    width: 250px;
    border-right: 1px #f1f1f1 solid;
    /* 禁止缩小 */
    flex-shrink: 0;
    /* 禁止扩大 */
    flex-grow: 0;
}

.chatpnl {
    /* 占据剩余空间 */
    flex-grow: 1;
    /* 允许缩小 */
    min-width: 0;
}

.memberpnl {
    width: 15%;
    border-left: 1px #f1f1f1 solid;
    /* 禁止缩小 */
    flex-shrink: 0;
}

/* userpanel样式 */
.user {
    margin: 20px;
    height: 48px
}

.user:hover {
    cursor: pointer;
}

.user img {
    width: 48px;
    height: 48px;
    /* object-fit: contain; */
    object-fit: cover;
    border-radius: 50%;
}

.user span {
    font-size: 16px;
    margin-left: 10px
}

.nav {
    width: 50%;
    text-align: center;
    padding: 16px 0px;
    background-color: #f1f1f1;
    float: left;
    cursor: pointer;
    position: relative
}

.nav:hover {
    background-color: #ccc;
}

.nav:hover .add_btn {
    display: inline
}

.nav .add_btn {
    display: none;
    position: absolute;
    right: 10px;
}

.chatlist {
    height: 430px;
    overflow: auto;
}

.chatlist li {
    display: inline-block;
    width: 100%;
    cursor: pointer
}

.room {
    position: relative;
    padding: 5px 10px;
}

.room:hover {
    background-color: #ccc;
}

.room .avatar {
    width: 36px;
    height: 36px;
    /* object-fit: contain; */
    object-fit: cover;
    border-radius: 50%;
}

.room .offline_avatar {
    opacity: 0.3;
    filter: grayscale(30%);
}

.room .offline_username {
    color: #b3b3b3;
}

.room .name {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    /* 禁止换行 */
    white-space: nowrap;
    /* 超出部分隐藏 */
    overflow: hidden;
    /* 超出部分显示... */
    text-overflow: ellipsis;
    /* 最大宽度 */
    max-width: 140px;
    /* 确保宽度生效 */
    display: inline-block;
}

.room .unread_mark {
    position: absolute;
    left: 39px;
    top: 0px;
    background-color: red;
    color: white;
    border-radius: 7px;
    min-width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 0 4px
}

.room .right {
    height: 36px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 10px;
    color: #ddd;
}

.room .label {
    font-size: 9px;
    color: chocolate;
    padding: 0;
}

/* chatpanel样式 */
.chathead {
    text-align: center;
    border-bottom: 1px #f1f1f1 solid;
    margin: 0;
    padding: 12px 0;
    height: 46px;
}

.chat-content {
    height: 420px;
    overflow: auto;
    border-bottom: 1px #f1f1f1 solid
}

.chat-content img {
    width: 50px;
    height: 50px
}

.chatleft {
    float: left;
}

.chatright {
    float: right;
}

.chat {
    padding: 6px 0;
    /* min-height: 48px; */
    width: 400px;
}

.chat .chatinfo {
    text-align: center;
    max-width: 20%;
    padding: 0px 8px;
    font-size: 12px
}

.chat .chatinfo .avatar {
    width: 32px;
    height: 32px;
    /* object-fit: contain; */
    object-fit: cover;
    border-radius: 50%;
}

.chatleft .chatcontainer {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chatright .chatcontainer {
    float: right;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat .chatname {
    color: #ccc;
    font-size: 12px;
    padding-bottom: 2px
}

.chat .chatcontent {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 7px 12px;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
}

.chatcontent:hover .action-buttons {
    opacity: 1;
}

.action-buttons {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    right: 0px;
    bottom: -10px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 13px
}

.action-buttons button {
    padding: 2px 4px;
    white-space: nowrap;
    color: #fff;
    background-color: #228f26;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px #999;
}

#editor {
    width: 100%;
    height: 158px;
    display: none
}

#edui1 {
    border-radius: 0;
    border: 0;
}

#edui1_toolbarbox {
    box-shadow: 0 0 0 rgba(204, 204, 204, 0.6);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#edui1_toolbarboxouter {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0;
    background-image: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f1f1f1;
}

.edui-editor-toolbarboxinner {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

#edui1_wordcount {
    border-top: 1px solid #f1f1f1;
}

.chatnotice {
    margin: 0 auto;
    text-align: center;
    color: #999;
    padding: 6px 0;
    font-size: 12px;
}

.chatnotice .chattime {
    color: #ccc;
    font-size: 12px;
}

/* memeberpanel样式 */
.title {
    width: 100%;
    text-align: center;
    padding: 13px 0px;
    background-color: #f1f1f1;
    cursor: pointer;
    position: relative
}

.title:hover .add_btn {
    display: inline
}

.title .add_btn {
    display: none;
    position: absolute;
    right: 10px;
}

.member {
    padding: 5px 10px;
}

.member:hover {
    background-color: #ccc;
}

.member .avatar {
    width: 24px;
    height: 24px;
    /* object-fit: contain; */
    object-fit: cover;
    border-radius: 50%;
}

.member .name {
    font-size: 14px;
    vertical-align: middle;
    /* 禁止换行 */
    white-space: nowrap;
    /* 超出部分隐藏 */
    overflow: hidden;
    /* 超出部分显示... */
    text-overflow: ellipsis;
    /* 最大宽度 */
    max-width: 100px;
    /* 确保宽度生效 */
    display: inline-block;
}

.member .offline_avatar {
    opacity: 0.3;
    filter: grayscale(30%);
}

.member .offline_username {
    color: #b3b3b3;
}

.modal-dialog {
    margin: 100px auto;
}

.modal-body {
    text-align: center;
}

.form-div {
    margin: 10px 0;
}

.form-label {
    display: inline-block;
    width: 60px;
    vertical-align: top
}

.form-control {
    display: inline-block;
    width: 200px;
}

.avatar-container {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.avatar-div {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.avatar-div .avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    /* border-radius: 50%; */
}

.edit-corner {
    position: absolute; 
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 24px 24px; /* 右下角三角形 */
    border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent; /* 半透明黑色 */
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none;
}

.edit-button {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
    display: none;
}

.avatar-div:hover .edit-corner, .avatar-div:hover .edit-button {
    display: block;
}

#invitation_link {
    color: #999;
    word-break: break-all;
    white-space: pre-wrap;
}