<!DOCTYPE html>
<html>

<head>
    <title>聊天室</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="聊天室">
    <meta name="keywords" content="聊天室" />
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body lang="zh-cn">
    <div class="container">
        <div class="userpnl">
            <div class="user" data="{{ current_user.id }}">
                <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像" class="usericon">
                <span>{{ current_user.name }}</span>
            </div>
            <div id='chatroom_btn' class="nav">
                <span>聊天室</span>
                <a id="add_chatroom_btn" class="add_btn">+</a>
            </div>
            <div id='friend_btn' class="nav">
                <span>联系人</span>
                <a id="add_friend_btn" class="add_btn">+</a>
            </div>
            <div class="clear"></div>
            <ul id="room_list" class="chatlist" style="display: {{ 'block' if tab == 'chatroom' else 'none' }};">
                <!-- <li data="1">
                    <div class="qun">
                        <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像" class="qunicon">
                        <span class="name">顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶</span>
                        <div class="right">
                            <span class="label">私密</span>
                            <span class="time">12:08</span>
                        </div>
                    </div>
                </li> -->
                {% for room in chatrooms %}
                <li data="{{ room.id }}">
                    <div class="qun">
                        <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像" class="qunicon">
                        <span class="name">{{ room.name }}</span>
                        <span class="time">12:08</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <ul id="friend_list" class="chatlist" style="display: {{ 'block' if tab == 'friend' else 'none' }};">
                {% for friend in friends %}
                <li data="{{ friend.id }}">
                    <div class="qun">
                        <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像" class="qunicon">
                        <span class="name">{{ friend.name }}</span>
                        <span class="time">12:08</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="chatpnl">
            <p class="chathead"></p>
            <div class="chat-content">
                {# <div class="chatleft">#}
                    {# <div class="chat">#}
                        {# <div class="chatinfo fl">#}
                            {# <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像"
                                class="chaticon"><br />#}
                            {# <div>一二三四五六七</div>#}
                            {# </div>#}
                        {# <div class="chatcontent fl">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>#}
                        {# <div class="clear"></div>#}
                        {# </div>#}
                    {# </div>#}
                {# <div class="chatright">#}
                    {# <div class="chat">#}
                        {# <div class="chatinfo fr">#}
                            {# <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像"
                                class="chaticon"><br />#}
                            {# <div>一二三四五六七</div>#}
                            {# </div>#}
                        {# <div class="chatcontent fr">
                            哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>#}
                        {# <div class="clear"></div>#}
                        {# </div>#}
                    {# </div>#}
                {# <div class="clear"></div>#}
                {# <div class="chatnotice">#}
                    {# <p>---------棋子已经进入聊天室--------</p>#}
                    {# </div>#}
            </div>
            <div class="chat-input">
                <script type="text/plain" id="editor"></script>
            </div>
        </div>
        <div class="memberpnl" style="display: none;">
            <div class="title">
                <span>成员列表</span>
                <a id="add_member_btn" class="add_btn">+</a>
            </div>
            <ul id="member_list" class="memberlist" style="display: block;">
                <!-- <li data="1">
                    <div class="member">
                        <img src="{{ url_for('static', filename='image/user.png') }}" alt="用户头像">
                        <span class="name">成员名称测试</span>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="modal fade bs-example-modal-sm" id="add_chatroom_modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">创建聊天室</h4>
                    </div>
                    <div class="modal-body">
                        <span>名称：</span>
                        <input id="chatroom_name" name="chatroom_name" /><br>
                        <span>类型：</span>
                        <label for="public">
                            <input type="radio" id="public" name="chatroom_type" value="public" checked>
                            公开
                        </label>
                        <label for="private">
                            <input type="radio" id="private" name="chatroom_type" value="private">
                            私密
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="add_chatroom_confirm_btn" type="button" class="btn btn-primary">创建</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" id="add_friend_modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">添加联系人</h4>
                    </div>
                    <div class="modal-body">
                        <span>名称：</span>
                        <input id="friend_name" name="friend_name" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="add_friend_confirm_btn" type="button" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" id="add_member_modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">生成邀请链接</h4>
                    </div>
                    <div class="modal-body">
                        <span>有效期：</span>
                        <input id="valid_days" name="valid_days" type="number"/><br>
                        <span id="invitation_link"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="add_member_confirm_btn" type="button" class="btn btn-primary">生成</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>